<!DOCTYPE html lang="es">
<html>
<head>
	
<title>Precio Fruto Seco</title>

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8"> 
 
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "/assets/bootstrap.min.css" %>
<!-- jQuery (local)-->
<%= javascript_include_tag "/assets/jquery-2.2.4.min.js" %>
<!-- jQuery UI (local)-->
<%= javascript_include_tag "/assets/jquery-ui.min.js" %>
<!-- Rails JS (local)-->
<%= javascript_include_tag "/assets/rails.min.js" %>
<!-- Bootstrap JS (local)-->
<%= javascript_include_tag "/assets/bootstrap.min.js" %>
 
<!-- data confirm modal -->
      <script src="/assets/data-confirm-modal.js"></script>
<!-- opciones integradas en data-confirm-modal.js -->

<!-- Para los dialogos modales de confirmacion -->
<script>
/*dataConfirmModal.setDefaults({
         title: '¿Estas seguro?',
         commit: 'Confirmar',
         cancel: 'Cancelar',
         fade:   false,
         verifyClass: 'form-control',
       });*/
 </script>
 <!-- indicador de carga de pagina, posicion -->
 <script>
$(window).load(function(){$('#cover').fadeOut(1000);});
</script>
  
<%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
 
<%= csrf_meta_tags %>
  
  
  <!--
  	<nav class="navbar navbar-inverse">
  		
			  <div class="container">
					    <div class="navbar-header">
					      <%= link_to 'Precio Fruto Seco', root_path, class: 'navbar-brand' %>
					    </div>
			    <div id="navbar">
					      <ul class="nav navbar-nav">
					        <li><%= link_to 'Inicio', root_path %></li> 
					      </ul>
					      <ul class="nav navbar-nav pull-right">
			   	login devise pej
			    </div>
			  </div>
	</nav>
	-->
	
<div id="cover" style="z-index:9999;"></div>
	
</head>
<body>

		<%= yield :top_content %>
		
				<div class="container">
					
					<h1><%= yield :header %></h1>
					<%= render partial: "shared/flashmessages", flash: flash %>
					
					<%= yield %>
					
				</div>
</body>
</html>